<body>
    <div class="sidebar close">
        <div class="logo-details">
            <div class="con-logo-nav ">
                <div class="logo-nav"></div>
            </div>
            <div class="logo_name">
            </div>
        </div>
        <ul class="nav-links">
            <li>
                <a href="/">
                    <div class="d-flex flex-row">
                        <div class="d-flex flex-column icon-sidebar">
                            <img src="./public/icons/icon-home.svg" width="24px" height="24px" alt="">
                            <span class="font-sidebar">Dashboard</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="link_name ">Cars</span>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="/list-cars">
                    <div class="d-flex flex-row ">
                        <div class="d-flex flex-column icon-sidebar">
                            <img src="./public/icons/icon-truk.svg" width="24px" height="24px" alt="">
                            <span class="font-sidebar">Cars</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="link_name ">List Car</span>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <div class="home-content d-flex justify-content-between">
            <div class="bx bx-menu">
                <img src="./public/icons/icon-humberger.svg" width="24px" height="24px" alt="">
            </div>
            <div>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>
            </div>
        </div>
        <div>
            <div class="body ">