<%- include("partials/head") %>
<%- include("partials/navbar") %>
<h6 class="mb-3"><strong>Cars > List Car > </strong>Add New Car</h6>
<h3 class="mb-3">Dashboard</h3>
<section class="container-section bg-white ">
    <div class="form ">
        <div class="row align-items-center bg-white ">
            <div class="col-auto ">
                <label for="inputPassword6" class="col-form-label font-weight-light d-flex">Nama<p class="text-danger">*
                    </p>
                </label>
            </div>
            <div class="col-auto">
                <input type="text" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
            </div>
        </div>
        <div class="row align-items-center bg-white ">
            <div class="col-auto ">
                <label for="inputPassword6" class="col-form-label font-weight-light d-flex">Harga<p class="text-danger">*
                    </p>
                </label>
            </div>
            <div class="col-auto">
                <input type="text" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
            </div>
        </div>
        <div class="row align-items-center bg-white ">
            <div class="col-auto ">
                <label for="inputPassword6" class="col-form-label font-weight-light d-flex">Foto<p class="text-danger">*
                    </p>
                </label>
            </div>
            <div class="col-auto">
                <input type="file" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
            </div>
        </div>
        <div class="row align-items-center bg-white ">
            <div class="col-auto ">
                <label for="inputPassword6" class="col-form-label font-weight-light d-flex">Finish Rent<p class="text-danger">*
                    </p>
                </label>
            </div>
            <div class="col-auto">
                -
            </div>
        </div>
        <div class="row align-items-center bg-white ">
            <div class="col-auto ">
                <label for="inputPassword6" class="col-form-label font-weight-light d-flex">Created at<p class="text-danger">*
                    </p>
                </label>
            </div>
            <div class="col-auto">
                -
            </div>
        </div>
        <div class="row align-items-center bg-white ">
            <div class="col-auto ">
                <label for="inputPassword6" class="col-form-label font-weight-light d-flex">Updated at<p class="text-danger">*
                    </p>
                </label>
            </div>
            <div class="col-auto">
                -
            </div>
        </div>
        <div class="row align-items-center bg-white ">
            <div class="col-auto ">
                <label for="inputPassword6" class="col-form-label font-weight-light d-flex">Start Rent<p class="text-danger">*
                    </p>
                </label>
            </div>
            <div class="col-auto">
                -
            </div>
        </div>
    </div>

</section>

<%- include("partials/footer") %>