<%- include("partials/head") %>
<%- include("partials/navbar") %>

<h6 class="mb-3"><strong>Dashboard ></strong>Dashboard</h6>
<h3 class="mb-3">Dashboard</h3>
<!-- start list order -->
<h6 class="border-start border-primary border-5 px-2 my-3">List Order</h6>
<section class="container-section">
    <table class="table">
        <tbody>
            <tr class="bg-Primary-DarkBlue-01">
                <th scope="row">No</th>
                <th>
                    <div class="d-flex justify-content-between align-items-center">
                        <div>User Email</div>
                        <div><img src="../public/icons/fi_sort.svg" width="20px" height="20px" alt=""></div>
                    </div>
                </th>
                <th>
                    <div class="d-flex justify-content-between align-items-center">
                        <div>Car</div>
                        <div><img src="../public/icons/fi_sort.svg" width="20px" height="20px" alt=""></div>
                    </div>
                </th>
                <th>
                    <div class="d-flex justify-content-between align-items-center">
                        <div>Start Rent</div>
                        <div><img src="../public/icons/fi_sort.svg" width="20px" height="20px" alt=""></div>
                    </div>
                </th>
                <th>
                    <div class="d-flex justify-content-between align-items-center">
                        <div>Finish Rent</div>
                        <div><img src="../public/icons/fi_sort.svg" width="20px" height="20px" alt=""></div>
                    </div>
                </th>
                <th>
                    <div class="d-flex justify-content-between align-items-center">
                        <div>Price</div>
                        <div><img src="../public/icons/fi_sort.svg" width="20px" height="20px" alt=""></div>
                    </div>
                </th>
                <th>
                    <div class="d-flex justify-content-between align-items-center">
                        <div>Status</div>
                        <div><img src="../public/icons/fi_sort.svg" width="20px" height="20px" alt=""></div>
                    </div>
                </th>
            </tr>
            <tr class="bg-light">
                <td>1</td>
                <td>User Email</td>
                <td>Car</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Price</td>
                <td>Status</td>
            </tr>
            <tr class="bg-light">
                <td>1</td>
                <td>User Email</td>
                <td>Car</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Price</td>
                <td>Status</td>
            </tr>
            <tr class="bg-light">
                <td>1</td>
                <td>User Email</td>
                <td>Car</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Price</td>
                <td>Status</td>
            </tr>
        </tbody>
    </table>
</section>

<div class="d-flex justify-content-between align-items-end py-3">
    <div class="d-flex ">
        <div >
            <p class="m-0 ">Limit</p>
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-outline-secondary dropdown-toggle"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    10
                </button>
                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <li><a class="dropdown-item" href="#">20</a></li>
                    <li><a class="dropdown-item" href="#">30</a></li>
                </ul>
            </div>
        </div>
        <div class="mx-3">
            <p class="m-0 ">Jump to page</p>
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-outline-secondary dropdown-toggle"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    1
                </button>
                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <li><a class="dropdown-item" href="#">2</a></li>
                    <li><a class="dropdown-item" href="#">3</a></li>
                </ul>
                <button type="button" class="btn btn-primary">Go</button>
            </div>
        </div>
    </div>
    <div>
        <div class="btn-group me-2" role="group" aria-label="First group">
            <button type="button" class="btn btn-outline-secondary"><img src="../public/icons/fi_chevrons-left.svg"
                    width="16px" height="16px" alt=""></button>
            <button type="button" class="btn btn-outline-secondary">1</button>
            <button type="button" class="btn btn-outline-secondary">2</button>
            <button type="button" class="btn btn-outline-secondary">...</button>
            <button type="button" class="btn btn-outline-secondary">9</button>
            <button type="button" class="btn btn-outline-secondary"><img src="../public/icons/fi_chevrons-right.svg"
                    width="16px" height="16px" alt=""></button>
        </div>
    </div>
</div>
<!-- end list order -->

<!-- start list car -->
<h6 class="border-start border-primary border-5 px-2 my-3">List Car</h6>
<table class="table">
    <tbody>
        <tr class="bg-Primary-DarkBlue-01">
            <th scope="row">No</th>
            <th>
                <div class="d-flex justify-content-between align-items-center">
                    <div>Name</div>
                    <div><img src="../public/icons/fi_sort.svg" width="20px" height="20px" alt=""></div>
                </div>
            </th>
            <th>
                <div class="d-flex justify-content-between align-items-center">
                    <div>Category</div>
                    <div><img src="../public/icons/fi_sort.svg" width="20px" height="20px" alt=""></div>
                </div>
            </th>
            <th>
                <div class="d-flex justify-content-between align-items-center">
                    <div>Price</div>
                    <div><img src="../public/icons/fi_sort.svg" width="20px" height="20px" alt=""></div>
                </div>
            </th>
            <th>
                <div class="d-flex justify-content-between align-items-center">
                    <div>Start Rent</div>
                    <div><img src="../public/icons/fi_sort.svg" width="20px" height="20px" alt=""></div>
                </div>
            </th>
            <th>
                <div class="d-flex justify-content-between align-items-center">
                    <div>Finish Rent</div>
                    <div><img src="../public/icons/fi_sort.svg" width="20px" height="20px" alt=""></div>
                </div>
            </th>
            <th>
                <div class="d-flex justify-content-between align-items-center">
                    <div>Created at</div>
                    <div><img src="../public/icons/fi_sort.svg" width="20px" height="20px" alt=""></div>
                </div>
            </th>

            <th>
                <div class="d-flex justify-content-between align-items-center">
                    <div>Updated at</div>
                    <div><img src="../public/icons/fi_sort.svg" width="20px" height="20px" alt=""></div>
                </div>
            </th>
        </tr>
        <tr class="bg-light">
            <td>1</td>
            <td>Name</td>
            <td>Category</td>
            <td>Price</td>
            <td>Start Rent</td>
            <td>Finish Rent</td>
            <td>Created at</td>
            <td>Updated at</td>
        </tr>
        <tr class="bg-light">
            <td>1</td>
            <td>Name</td>
            <td>Category</td>
            <td>Price</td>
            <td>Start Rent</td>
            <td>Finish Rent</td>
            <td>Created at</td>
            <td>Updated at</td>
        </tr>
        <tr class="bg-light">
            <td>1</td>
            <td>Name</td>
            <td>Category</td>
            <td>Price</td>
            <td>Start Rent</td>
            <td>Finish Rent</td>
            <td>Created at</td>
            <td>Updated at</td>
        </tr>
    </tbody>
</table>
<div class="d-flex justify-content-between align-items-end py-3">
    <div class="d-flex ">
        <div>
            <p class="m-0 ">Limit</p>
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-outline-secondary dropdown-toggle"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    10
                </button>
                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <li><a class="dropdown-item" href="#">20</a></li>
                    <li><a class="dropdown-item" href="#">30</a></li>
                </ul>
            </div>
        </div>
        <div class="mx-3">
            <p class="m-0 ">Jump to page</p>
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-outline-secondary dropdown-toggle"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    1
                </button>
                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <li><a class="dropdown-item" href="#">2</a></li>
                    <li><a class="dropdown-item" href="#">3</a></li>
                </ul>
                <button type="button" class="btn btn-primary">Go</button>
            </div>
        </div>
    </div>
    <div>
        <div class="btn-group me-2" role="group" aria-label="First group">
            <button type="button" class="btn btn-outline-secondary"><img src="../public/icons/fi_chevrons-left.svg"
                    width="16px" height="16px" alt=""></button>
            <button type="button" class="btn btn-outline-secondary">1</button>
            <button type="button" class="btn btn-outline-secondary">2</button>
            <button type="button" class="btn btn-outline-secondary">...</button>
            <button type="button" class="btn btn-outline-secondary">9</button>
            <button type="button" class="btn btn-outline-secondary"><img src="../public/icons/fi_chevrons-right.svg"
                    width="16px" height="16px" alt=""></button>
        </div>
    </div>
</div>
<!-- end list car -->


<%- include("partials/footer") %>