<%- include("partials/head") %>
<%- include("partials/navbar") %>

<h6 class="mb-3">Cars > List Car</h6>
<div class="d-flex justify-content-between flex-wrap mt-2">
    <h3 class="mb-3">List Car</h3>
    <a href="/add-cars" class="btn btn-add ">
        <img src="./public/icons/icon-plus.svg" width="18px" height="18px" alt="">
        <div class="m-2">Add New Car</div>
    </a>
</div>

<div class="mb-3 mt-2">
    <button type="button" class="btn btn-outline-primary mx-2 mt-2">All</button>
    <button type="button" class="btn btn-outline-primary mx-2 mt-2">Small</button>
    <button type="button" class="btn btn-outline-primary mx-2 mt-2">Medium</button>
    <button type="button" class="btn btn-outline-primary mx-2 mt-2">Large</button>
</div>
<!-- card -->
<div class=" flex-wrap d-flex justify-content-between m-0 p-0 ">
    <div class="card shadow-sm p-2" style="width: 22rem;">
        <img class="card-img-top p-4" src="./public/images/image 1.jpg" alt="Card image cap">
        <div class="card-body m-0 p-3">
            <p class="fw-normal fs-6 m-0 p-0">Nama/Tipe Mobil</p>
            <p class="fw-bolder fs-5 p-0">Rp 430.000 / hari</p>
            <div class="d-flex">
                <img src="./public/icons/fi_key.svg" width="20px" height="20px" alt="">
                <p class=" mx-2 fw-light">Start rent - Finish rent</p>
            </div>
            <div class="d-flex m-0 p-0">
                <img src="./public/icons/fi_clock.svg" width="20px" height="20px" alt="">
                <p class=" mx-2 fw-light">Updated at 4 Apr 2022, 09.00</p>
            </div>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-outline-danger "><img src="./public/icons/fi_trash-2.svg"
                        width="18px" height="18px" alt=""> Delete</button>
                <button type="button" class="btn bg-LimeGreen-04 text-light"><img src="./public/icons/fi_edit.svg"
                        alt="" width="18px" height="18px"> Edit</button>
            </div>
        </div>
    </div>
    <div class="card shadow-sm p-2" style="width: 22rem;">
        <img class="card-img-top p-4" src="./public/images/image 1.jpg" alt="Card image cap">
        <div class="card-body m-0 p-3">
            <p class="fw-normal fs-6 m-0 p-0">Nama/Tipe Mobil</p>
            <p class="fw-bolder fs-5 p-0">Rp 430.000 / hari</p>
            <div class="d-flex">
                <img src="./public/icons/fi_key.svg" width="20px" height="20px" alt="">
                <p class=" mx-2 fw-light">Start rent - Finish rent</p>
            </div>
            <div class="d-flex m-0 p-0">
                <img src="./public/icons/fi_clock.svg" width="20px" height="20px" alt="">
                <p class=" mx-2 fw-light">Updated at 4 Apr 2022, 09.00</p>
            </div>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-outline-danger "><img src="./public/icons/fi_trash-2.svg"
                        width="18px" height="18px" alt=""> Delete</button>
                <button type="button" class="btn bg-LimeGreen-04 text-light"><img src="./public/icons/fi_edit.svg"
                        alt="" width="18px" height="18px"> Edit</button>
            </div>
        </div>
    </div>
    <div class="card shadow-sm p-2" style="width: 22rem;">
        <img class="card-img-top p-4" src="./public/images/image 1.jpg" alt="Card image cap">
        <div class="card-body m-0 p-3">
            <p class="fw-normal fs-6 m-0 p-0">Nama/Tipe Mobil</p>
            <p class="fw-bolder fs-5 p-0">Rp 430.000 / hari</p>
            <div class="d-flex">
                <img src="./public/icons/fi_key.svg" width="20px" height="20px" alt="">
                <p class=" mx-2 fw-light">Start rent - Finish rent</p>
            </div>
            <div class="d-flex m-0 p-0">
                <img src="./public/icons/fi_clock.svg" width="20px" height="20px" alt="">
                <p class=" mx-2 fw-light">Updated at 4 Apr 2022, 09.00</p>
            </div>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-outline-danger "><img src="./public/icons/fi_trash-2.svg"
                        width="18px" height="18px" alt=""> Delete</button>
                <button type="button" class="btn bg-LimeGreen-04 text-light"><img src="./public/icons/fi_edit.svg"
                        alt="" width="18px" height="18px"> Edit</button>
            </div>
        </div>
    </div>
    <div class="card shadow-sm p-2" style="width: 22rem;">
        <img class="card-img-top p-4" src="./public/images/image 1.jpg" alt="Card image cap">
        <div class="card-body m-0 p-3">
            <p class="fw-normal fs-6 m-0 p-0">Nama/Tipe Mobil</p>
            <p class="fw-bolder fs-5 p-0">Rp 430.000 / hari</p>
            <div class="d-flex">
                <img src="./public/icons/fi_key.svg" width="20px" height="20px" alt="">
                <p class=" mx-2 fw-light">Start rent - Finish rent</p>
            </div>
            <div class="d-flex m-0 p-0">
                <img src="./public/icons/fi_clock.svg" width="20px" height="20px" alt="">
                <p class=" mx-2 fw-light">Updated at 4 Apr 2022, 09.00</p>
            </div>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-outline-danger "><img src="./public/icons/fi_trash-2.svg"
                        width="18px" height="18px" alt=""> Delete</button>
                <button type="button" class="btn bg-LimeGreen-04 text-light"><img src="./public/icons/fi_edit.svg"
                        alt="" width="18px" height="18px"> Edit</button>
            </div>
        </div>
    </div>
    <div class="card shadow-sm p-2" style="width: 22rem;">
        <img class="card-img-top p-4" src="./public/images/image 1.jpg" alt="Card image cap">
        <div class="card-body m-0 p-3">
            <p class="fw-normal fs-6 m-0 p-0">Nama/Tipe Mobil</p>
            <p class="fw-bolder fs-5 p-0">Rp 430.000 / hari</p>
            <div class="d-flex">
                <img src="./public/icons/fi_key.svg" width="20px" height="20px" alt="">
                <p class=" mx-2 fw-light">Start rent - Finish rent</p>
            </div>
            <div class="d-flex m-0 p-0">
                <img src="./public/icons/fi_clock.svg" width="20px" height="20px" alt="">
                <p class=" mx-2 fw-light">Updated at 4 Apr 2022, 09.00</p>
            </div>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-outline-danger "><img src="./public/icons/fi_trash-2.svg"
                        width="18px" height="18px" alt=""> Delete</button>
                <button type="button" class="btn bg-LimeGreen-04 text-light"><img src="./public/icons/fi_edit.svg"
                        alt="" width="18px" height="18px"> Edit</button>
            </div>
        </div>
    </div>

</div>
</div>
</div>
</section>

<%- include("partials/footer") %>