 <%- include("partials/head") %>
 <div class="container-login ">
     <img class="login-image" src="../public/images/image 2.png" alt="">
     <div class="login">
         <div class="logo bg-Primary-DarkBlue-01"></div>
         <p class="title">
             Welcome, Admin BCR
         </p>
         <form action="/login" method="post">
             <div class="form-group">
                 <label for="exampleInputEmail1">Email address</label>
                 <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                     placeholder="Enter email">
             </div>
             <div class="form-group">
                 <label for="exampleInputEmail1">Password</label>
                 <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                     placeholder="Enter email">
             </div>
             <button type="submit" class="btn bg-Primary-DarkBlue-04">Sign In</button>
         </form>
     </div>
 </div>

