@media (max-width: 420px) {
    .sidebar.close .nav-links li .sub-menu {
        display: none;
    }
}

.bg-LimeGreen-04 {
    background-color: #5CB85F;
}
.bg-Primary-DarkBlue-01{
    background-color: #CFD4ED;
}

.bg-Primary-DarkBlue-04{
    background: #0D28A6;
}

.bg-Neutral-02{
    background: #D0D0D0;
}


.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: #0D28A6;
    z-index: 100;
    transition: all 0.5s ease;
}

.sidebar.close {
    width: 78px;
}

.sidebar .logo-details {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}

.sidebar .logo-details .con-logo-nav {
    height: 50px;
    min-width: 78px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar .logo-details .con-logo-nav .logo-nav {
    background: #CFD4ED;
    height: 34px;
    width: 34px;
    line-height: 50px;
}

.sidebar .logo-details .logo_name {
    height: 34px;
    width: 100px;
    display: flex;
    background: #CFD4ED;
}

.sidebar.close .logo-details .logo_name {
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links {
    background: #0D28A6;
    height: 100%;
    padding-top: 10px;
    padding-left: 0px;
    overflow: auto;
}

.sidebar.close .nav-links {
    overflow: visible;
}

.sidebar .nav-links li {
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links li:hover {
    position: relative;
    list-style: none;
    background: #CFD4ED;
}

.sidebar .nav-links li a {
    text-decoration: none;
    color: #fff;
}

.sidebar .nav-links li a .icon-sidebar {
    align-items: center;
    width: 90px;
    padding: 10px;
}

.sidebar .nav-links li a .icon-sidebar .font-sidebar {
    font-size: 12px;
    font-weight: 300;
}

.sidebar .nav-links li a .link_name {
    font-size: 14px;
    font-weight: 700;
    color: #8A8A8A;
    text-transform: uppercase;
}

.sidebar.close .nav-links li a .link_name {
    opacity: 0;
    pointer-events: none;
}

.sidebar.close .nav-links li .sub-menu .link_name {
    font-size: 18px;
    opacity: 1;
    display: block;
}

.sidebar .nav-links li a .link_name:hover {
    font-size: 14px;
    font-weight: 700;
    color: #151515;
    text-transform: capitalize;
}


.home-section {
    position: relative;
    background: #F4F5F7;
    left: 260px;
    transition: all 0.5s ease;
}

.sidebar.close~.home-section {
    left: 78px;
    width: calc(100% - 78px);
}

.home-section .home-content {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background: #fff;
}

.home-section .home-content .bx-menu,
.home-section .home-content .text {
    color: #11101d;
    font-size: 35px;
}

.home-section .home-content .bx-menu {
    margin: 0 15px;
    cursor: pointer;
}


/* styles for body */
.body {
    padding: 24px 24px 10px 10px;
    width: 100%;
    height: 100%;
}

.btn-add {
    background: #0D28A6;
    color: #fff;
    padding: 8px 12px 8px 12px;
    font-size: 14px;
    font-weight: 700;
    height: 36px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    margin: 0px 0px 24px 0px;
}

/* halaman login */
.container-login {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}

.container-login .login-image{
    width: 70%;
    height:100vh;
}

.container-login .login {
    min-width: 350px;
    padding: 0px 56px 0px 56px;
}

.logo{
    height: 34px;
    width: 100px;
}

.container-login .login .title{
    font-size: 24px;
    font-weight: 700;
    margin: 32px 0px 32px 0px;
}

.container-login .login .form-group label{
    margin: 8px 0px 8px 0px;
}
.container-login .login button{
    margin-top: 32px;
    color: #fff;
    width: 100%;
}

.container-section{
    /* height: 100vh; */
    width: 100%;
}
.container-section .form{
 padding: 20px;
}